USE [master]
GO
/****** Object:  Database [FTask]    Script Date: 23/06/2021 7:59:54 CH ******/
CREATE DATABASE [FTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FTask]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[MajorId] [nvarchar](20) NOT NULL,
	[MajorName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanSemester]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanSemester](
	[PlanSemesterId] [int] IDENTITY(1,1) NOT NULL,
	[PlanSemesterName] [nvarchar](50) NULL,
	[StudentId] [nvarchar](20) NOT NULL,
	[SemesterId] [nvarchar](10) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsComplete] [bit] NOT NULL,
 CONSTRAINT [PK__PlanSeme__633CF023DBA907AC] PRIMARY KEY CLUSTERED 
(
	[PlanSemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanSubject]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanSubject](
	[PlanSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[Priority] [int] NULL,
	[Progress] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[PlanSemesterId] [int] NOT NULL,
	[SubjectId] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__PlanSubj__BC02B4F0EE63952C] PRIMARY KEY CLUSTERED 
(
	[PlanSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanTopic]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanTopic](
	[PlanTopicId] [int] IDENTITY(1,1) NOT NULL,
	[Progress] [int] NULL,
	[IsComplete] [bit] NOT NULL,
	[TopicId] [int] NOT NULL,
	[PlanSubjectId] [int] NOT NULL,
 CONSTRAINT [PK__PlanTopi__1E0255363D627E85] PRIMARY KEY CLUSTERED 
(
	[PlanTopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterId] [nvarchar](10) NOT NULL,
	[SemesterName] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsComplete] [bit] NOT NULL,
 CONSTRAINT [PK__Semester__043301DD18E1725F] PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [nvarchar](20) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[StudentEmail] [nvarchar](50) NOT NULL,
	[MajorId] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Student__32C52B993DCBE7AA] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [nvarchar](10) NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
	[Source] [nvarchar](50) NULL,
	[SubjectGroupId] [int] NOT NULL,
 CONSTRAINT [PK__Subject__AC1BA3A8CB9A123C] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectGroup]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectGroup](
	[SubjectGroupId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectGroupName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__SubjectG__2F88B036A0937DA8] PRIMARY KEY CLUSTERED 
(
	[SubjectGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskDescription] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[EstimateTime] [bigint] NULL,
	[EffortTime] [bigint] NULL,
	[DueDate] [datetime] NULL,
	[Priority] [int] NULL,
	[IsComplete] [bit] NOT NULL,
	[PlanTopicId] [int] NOT NULL,
	[TaskCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskCategory]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskCategory](
	[TaskCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[TaskType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TaskCate__FEB1EA2EDFC0CDED] PRIMARY KEY CLUSTERED 
(
	[TaskCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 23/06/2021 7:59:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](50) NOT NULL,
	[TopicDescription] [nvarchar](200) NULL,
	[SubjectId] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Major] ([MajorId], [MajorName]) VALUES (N'BBA_FIN', N'Business Administration_Finance')
GO
INSERT [dbo].[Major] ([MajorId], [MajorName]) VALUES (N'BBA_IB', N'Business Administration_International Business')
GO
INSERT [dbo].[Major] ([MajorId], [MajorName]) VALUES (N'BBA_MC', N'Business Administration_Multimedia communication')
GO
SET IDENTITY_INSERT [dbo].[PlanSemester] ON 
GO
INSERT [dbo].[PlanSemester] ([PlanSemesterId], [PlanSemesterName], [StudentId], [SemesterId], [CreateDate], [IsComplete]) VALUES (1, N'OJT', N'SE140129', N'SPR_21', CAST(N'2021-02-10T12:35:39.323' AS DateTime), 1)
GO
INSERT [dbo].[PlanSemester] ([PlanSemesterId], [PlanSemesterName], [StudentId], [SemesterId], [CreateDate], [IsComplete]) VALUES (2, N'7th Semester', N'SE140129', N'SUM_21', CAST(N'2021-05-10T12:35:39.323' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[PlanSemester] OFF
GO
SET IDENTITY_INSERT [dbo].[PlanSubject] ON 
GO
INSERT [dbo].[PlanSubject] ([PlanSubjectId], [Priority], [Progress], [CreateDate], [IsComplete], [PlanSemesterId], [SubjectId]) VALUES (1, 0, 0, CAST(N'2021-02-10T13:36:59.403' AS DateTime), 0, 1, N'PRM391')
GO
INSERT [dbo].[PlanSubject] ([PlanSubjectId], [Priority], [Progress], [CreateDate], [IsComplete], [PlanSemesterId], [SubjectId]) VALUES (2, 0, 0, CAST(N'2021-02-10T13:38:59.403' AS DateTime), 0, 1, N'SWD391')
GO
INSERT [dbo].[PlanSubject] ([PlanSubjectId], [Priority], [Progress], [CreateDate], [IsComplete], [PlanSemesterId], [SubjectId]) VALUES (3, 0, 0, CAST(N'2021-05-10T12:36:59.403' AS DateTime), 0, 2, N'PRM391')
GO
SET IDENTITY_INSERT [dbo].[PlanSubject] OFF
GO
SET IDENTITY_INSERT [dbo].[PlanTopic] ON 
GO
INSERT [dbo].[PlanTopic] ([PlanTopicId], [Progress], [IsComplete], [TopicId], [PlanSubjectId]) VALUES (1, 0, 0, 4, 3)
GO
INSERT [dbo].[PlanTopic] ([PlanTopicId], [Progress], [IsComplete], [TopicId], [PlanSubjectId]) VALUES (2, 0, 0, 6, 3)
GO
INSERT [dbo].[PlanTopic] ([PlanTopicId], [Progress], [IsComplete], [TopicId], [PlanSubjectId]) VALUES (3, 0, 0, 1, 4)
GO
SET IDENTITY_INSERT [dbo].[PlanTopic] OFF
GO
INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [StartDate], [EndDate], [IsComplete]) VALUES (N'FLL_20', N'Fall 2020', NULL, NULL, 1)
GO
INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [StartDate], [EndDate], [IsComplete]) VALUES (N'SPR_21', N'Spring 2021', CAST(N'2021-01-04T00:00:00.000' AS DateTime), CAST(N'2021-04-29T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [StartDate], [EndDate], [IsComplete]) VALUES (N'SUM_21', N'Summer 2021', CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-07-23T00:00:00.000' AS DateTime), 0)
GO
INSERT [dbo].[Student] ([StudentId], [StudentName], [StudentEmail], [MajorId]) VALUES (N'bj111111', N'Test so mot', N'test1@fpt.edu.vn', N'BJP')
GO
INSERT [dbo].[Student] ([StudentId], [StudentName], [StudentEmail], [MajorId]) VALUES (N'bj111112', N'Test so hai', N'test2@fpt.edu.vn', N'BJP')
GO
INSERT [dbo].[Student] ([StudentId], [StudentName], [StudentEmail], [MajorId]) VALUES (N'bj111113', N'Test so ba', N'test3@fpt.edu.vn', N'BJP')
GO
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [Source], [SubjectGroupId]) VALUES (N'CEA201', N'Computer Organization and Architecture', NULL, 1)
GO
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [Source], [SubjectGroupId]) VALUES (N'CSD201', N'Data Structure and Algorithm', NULL, 1)
GO
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [Source], [SubjectGroupId]) VALUES (N'EAL201', N'Academic Listening', NULL, 14)
GO
SET IDENTITY_INSERT [dbo].[SubjectGroup] ON 
GO
INSERT [dbo].[SubjectGroup] ([SubjectGroupId], [SubjectGroupName]) VALUES (1, N'Computing Fundamentals')
GO
INSERT [dbo].[SubjectGroup] ([SubjectGroupId], [SubjectGroupName]) VALUES (2, N'Accounting')
GO
INSERT [dbo].[SubjectGroup] ([SubjectGroupId], [SubjectGroupName]) VALUES (3, N'Politics')
GO
SET IDENTITY_INSERT [dbo].[SubjectGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 
GO
INSERT [dbo].[Task] ([TaskId], [TaskDescription], [CreateDate], [EstimateTime], [EffortTime], [DueDate], [Priority], [IsComplete], [PlanTopicId], [TaskCategoryId]) VALUES (1, N'Test lai phat nua xem the lao', CAST(N'2021-06-21T04:09:13.557' AS DateTime), 0, 0, NULL, 0, 1, 8, 4)
GO
INSERT [dbo].[Task] ([TaskId], [TaskDescription], [CreateDate], [EstimateTime], [EffortTime], [DueDate], [Priority], [IsComplete], [PlanTopicId], [TaskCategoryId]) VALUES (2, N'Test them phat phat nua xem the lao', CAST(N'2021-06-21T04:09:13.557' AS DateTime), 0, 0, NULL, 0, 1, 8, 4)
GO
INSERT [dbo].[Task] ([TaskId], [TaskDescription], [CreateDate], [EstimateTime], [EffortTime], [DueDate], [Priority], [IsComplete], [PlanTopicId], [TaskCategoryId]) VALUES (3, N'Test them mot phat nua xem the lao', CAST(N'2021-06-21T04:09:13.557' AS DateTime), 0, 0, NULL, 0, 1, 8, 4)
GO
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskCategory] ON 
GO
INSERT [dbo].[TaskCategory] ([TaskCategoryId], [TaskType]) VALUES (1, N'Assignment')
GO
INSERT [dbo].[TaskCategory] ([TaskCategoryId], [TaskType]) VALUES (2, N'Quiz')
GO
INSERT [dbo].[TaskCategory] ([TaskCategoryId], [TaskType]) VALUES (3, N'Project')
GO
SET IDENTITY_INSERT [dbo].[TaskCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 
GO
INSERT [dbo].[Topic] ([TopicId], [TopicName], [TopicDescription], [SubjectId]) VALUES (1, N'Project', N'Set task for your Project', N'SWD391')
GO
INSERT [dbo].[Topic] ([TopicId], [TopicName], [TopicDescription], [SubjectId]) VALUES (2, N'Flutter', N'Learn how to create app with Flutter and Dart Language', N'SWD391')
GO
INSERT [dbo].[Topic] ([TopicId], [TopicName], [TopicDescription], [SubjectId]) VALUES (3, N'RestAPI', N'Learn about RestAPI and how to implement it', N'SWD391')
GO
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
ALTER TABLE [dbo].[PlanSemester]  WITH CHECK ADD  CONSTRAINT [FK__PlanSemes__Semes__37A5467C] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester] ([SemesterId])
GO
ALTER TABLE [dbo].[PlanSemester] CHECK CONSTRAINT [FK__PlanSemes__Semes__37A5467C]
GO
ALTER TABLE [dbo].[PlanSemester]  WITH CHECK ADD  CONSTRAINT [FK__PlanSemes__Stude__38996AB5] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[PlanSemester] CHECK CONSTRAINT [FK__PlanSemes__Stude__38996AB5]
GO
ALTER TABLE [dbo].[PlanSubject]  WITH CHECK ADD  CONSTRAINT [FK__PlanSubje__PlanS__398D8EEE] FOREIGN KEY([PlanSemesterId])
REFERENCES [dbo].[PlanSemester] ([PlanSemesterId])
GO
ALTER TABLE [dbo].[PlanSubject] CHECK CONSTRAINT [FK__PlanSubje__PlanS__398D8EEE]
GO
ALTER TABLE [dbo].[PlanSubject]  WITH CHECK ADD  CONSTRAINT [FK__PlanSubje__Subje__3A81B327] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[PlanSubject] CHECK CONSTRAINT [FK__PlanSubje__Subje__3A81B327]
GO
ALTER TABLE [dbo].[PlanTopic]  WITH CHECK ADD  CONSTRAINT [FK__PlanTopic__PlanS__3B75D760] FOREIGN KEY([PlanSubjectId])
REFERENCES [dbo].[PlanSubject] ([PlanSubjectId])
GO
ALTER TABLE [dbo].[PlanTopic] CHECK CONSTRAINT [FK__PlanTopic__PlanS__3B75D760]
GO
ALTER TABLE [dbo].[PlanTopic]  WITH CHECK ADD  CONSTRAINT [FK_PlanTopic_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([TopicId])
GO
ALTER TABLE [dbo].[PlanTopic] CHECK CONSTRAINT [FK_PlanTopic_Topic]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__MajorId__3D5E1FD2] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([MajorId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__MajorId__3D5E1FD2]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK__Subject__Subject__3E52440B] FOREIGN KEY([SubjectGroupId])
REFERENCES [dbo].[SubjectGroup] ([SubjectGroupId])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK__Subject__Subject__3E52440B]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_PlanTopic] FOREIGN KEY([PlanTopicId])
REFERENCES [dbo].[PlanTopic] ([PlanTopicId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_PlanTopic]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_TaskCategory] FOREIGN KEY([TaskCategoryId])
REFERENCES [dbo].[TaskCategory] ([TaskCategoryId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_TaskCategory]
GO
ALTER TABLE [dbo].[Topic]  WITH CHECK ADD  CONSTRAINT [FK_Topic_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Topic] CHECK CONSTRAINT [FK_Topic_Subject]
GO
USE [master]
GO
